.bg-img {
  background-image: url('/assets/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  opacity: 0.87;
  min-width: 100%;
  margin-top: 5vh;
  height: 95vh;
  display: flex; 
  align-items: center; 
  justify-content: center;
}