<div class="row pt-5 pb-5">
    <div [hidden] = "!dispProcDetails" class="col-md-8 mx-auto">
        <form class="form">
            <div class="card rounded-1">
                <div class="card-header">
                    <h3 class="mb-0">Component Processing</h3>
                </div>

                <div class="card-body">
                    <div class="form-group">
                        <label class="form-label" for="name">Name:</label>
                        <input [(ngModel)]="procDetailsData.name" name="name" type="text" placeholder="FirstName LastName" class="form-control rounded-1" maxlength="70" required>
                    </div>
                    
                    <div class="form-group">
                        <label class="form-label" for="contactNumber">Contact Number:</label>
                        <input [(ngModel)]="procDetailsData.contactNumber" name="contactNumber" type="tel" pattern="/((\+*)((0[ -]*)*|((91 )*))((\d{12})+|(\d{10})+))|\d{5}([- ]*)\d{6}/" class="form-control rounded-1" required>
                    </div>
                </div>
            </div>
            
            <div class="card rounded-1">
                <div class="card-body">
                    <div class="form-group">
                        <label class="form-label" for="creditCardDetails">Credit Card Number:</label>
                        <input [(ngModel)]="procDetailsData.creditCardNumber" name="creditCardNumber" type="password" id="creditCardNumber" class="form-control rounded-1" maxlength="12"/>
                    </div>
                    
                    <div class="form-group">
                        <label class="form-label" for="creditLimit">Credit Limit:</label>
                        <input [(ngModel)]="completeProcDetails.creditLimit" name="creditLimit" type="number" id="creditLimit" class="form-control rounded-1" maxlength="12"/>
                    </div>
                </div>
            </div>

            <div class="card rounded-1">
                <div class="card-body">
                    <div class="form-group">
                        <p class="form-label" for="componentDetail">Defective Component Type:</p>
                        <label class="form-label" for="componentType">Type:</label>
                        <br>
                        <select [(ngModel)]="procDetailsData.componentDetail.componentType" name="componentType" class="form-select rounded-1">
                            <option value="Accessory" selected>Accessory</option>
                            <option value="ProtectiveSheath">Protective Sheath</option>
                            <option value="IntegralItem">Integral Item</option>
                        </select>
                    </div>
                    
                    <div [hidden] = "procDetailsData.componentDetail.componentType != 'IntegralItem'" class="form-group">
                        <label class="form-label" for="isPriorityRequest">Priority Request?</label>
                        <div class="form-check">
                            <input [(ngModel)]="procDetailsData.isPriorityRequest" class="form-check-input rounded-1" name="isPriorityRequest" type="checkbox" value="true" id="flexCheckDefault">
                            <label class="form-check-label" for="priorityYes">
                            Yes
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="componentName">Name:</label>
                        <input [(ngModel)]="procDetailsData.componentDetail.componentName" name="componentName" type="text" class="form-control rounded-1" maxlength="25" required>
                    </div>
                    
                    <div class="form-group">
                        <label class="form-label" for="quantity">Quantity:</label>
                        <input [(ngModel)]="procDetailsData.componentDetail.quantity" name="quantity" type="number" class="form-control rounded-1 col-3" value="1"/>
                    </div>
                </div>
            </div>
                
            <div class="card rounded-1">
                <div class="card-body">
                    <button (click)="postprocDetailsData()" class="btn btn-primary float-right">Get Details</button>
                </div>
            </div>
            <br/><br/>
        </form>
    </div>

    <div [hidden] = "dispProcDetails" class="card rounded-1 col-md-6 mx-auto">
        <div class="card-header">
            <h3 class="mb-0">Process Details</h3>
        </div>

        <div class="card-body">
            <p class="form-label" for="requestId">Name: {{ procDetailsData.name }}</p>
            
            <p class="form-label" for="requestId">Contact Number: {{ procDetailsData.contactNumber }}</p>
            
            <p class="form-label" for="requestId">Credit Card Number: {{ procDetailsData.creditCardNumber }}</p>
            
            <p class="form-label" for="requestId">Priority Request?: {{ procDetailsData.isPriorityRequest }}</p>
            
            <p class="form-label" for="requestId">Component Type: {{ procDetailsData.componentDetail.componentType }}</p>
            
            <p class="form-label" for="requestId">Component Name: {{ procDetailsData.componentDetail.componentName }}</p>
            
            <p class="form-label" for="requestId">Quantity: {{ procDetailsData.componentDetail.quantity }}</p>
            
            <p class="form-label" for="processingCharge">Processing Charge: {{ procDetailsRes.processingCharge }}</p>
            
            <p class="form-label" for="packagingAndDeliveryCharge">Packaging And Delivery Charge: {{ procDetailsRes.packagingAndDeliveryCharge }}</p>
            
            <p class="form-label" for="dateOfDelivery">Date Of Delivery: {{ procDetailsRes.dateOfDelivery }}</p>
            <br/>
            
            <button (click)="postCompleteProcDetails()" class="btn btn-primary float-right">Confirm</button>
        </div>
        
        <div [hidden] = "dispProcDetails" class=" text-center">
            <p class="font-weight-bold text-danger" for="completeProcRes">{{ completeProcRes }}</p>
        </div>
    </div>
</div>