<div class="container">
    <div class="mask rgba-black-strong">
        <div class="container-fluid d-flex align-items-center justify-content-center h-100">
            <div class="row d-flex justify-content-center text-center">
                <div class="col-md-9">
                    <h2 class="display-4 font-weight-bold pt-5 mb-2">Welcome {{ userName }}!</h2>
                    <hr class="hr-light">
                    <h3 class="my-4">We regret the inconvenience caused.</h3>
                    <h3 class="my-4">At Reditus, we are committed to ensuring the best customer experience.</h3>
                    <h3 class="my-4">Kindly, click on the exchange button to initiate your request.</h3>
                    <h3 class="my-4">Happy Shopping!</h3>
                    <button class="btn-dark text-white btn-lg col-md-4" routerLink="/return-portal">Return Portal</button>
                </div>
            </div>
        </div>
    </div>
</div>