<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Return Order Portal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
            <!-- *ngIf="!_authService.loggedIn()" -->
            <a class="nav-link" routerLink="/" routerLinkActive="active">ABC</a>
            <a class="nav-link" routerLink="/" routerLinkActive="active">XYZ</a>
            <a class="nav-link" style="cursor:pointer">Logout</a>
             <!-- *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()" -->
        </ul>
    </div>
</nav>    
    <div class="container">
        <router-outlet></router-outlet>            
    </div>