<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <img src="/assets/logo.png" style="height: 50px;" routerLink="/landing-page" alt="Reditus">
    <ul class="navbar-nav ml-auto">
        <!--
            <p>Welcome{{ !!localstorage.getItem('username') }}!</p> 
        -->
        <a class="nav-link" *ngIf="!_authService.isUserLoggedIn()" routerLink="/login" routerLinkActive="active">Login</a>
        <a class="nav-link" *ngIf="_authService.isUserLoggedIn()" routerLink="/proc-details" routerLinkActive="active">Exchange Portal</a>
        <a class="nav-link" *ngIf="_authService.isUserLoggedIn()" (click)="_authService.logoutUser()">Logout</a>
    </ul>
</nav>    
<div>
    <router-outlet></router-outlet>
</div>